<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <a href="http://localhost:3000">log out</a>
    <h1>hello
        <%= user.userName %> you have successfully logged in!</h1>
    <p>user id is:
        <%= user._id %> status is: <%= status %>
    </p>
    <p>task is: let a “logged-in” user add LocationBlogs
    </p>
    { info, pos: { longitude, latitude }, author };
    <% if(status === "false"){%>
    <button id="coordinatesBtn">push to get current position</button>
    <form action="/login/createPosition" method="post">
        lon
        <input id="lon" type="number" placeholder="readonly" readonly=true name="lon"/> lat
        <input id="lat" type="number" placeholder="readonly" readonly=true name="lat"/> id
        <input style="width: 15%;" type="text" placeholder="readonly" readonly=true value = "<%= user._id %>" name="id"/>
        <input type="submit"/>
    </form>
    <%}%>
    <% if(status === "true"){%>
    <form action="/login/createLocationBlog" method="post">
        <span>blob:</span>
        <input type="text" placeholder="info" name="Binfo"/>
        <input type="number" placeholder="longitude" value="<%= lon %>" name="Blon"/>
        <input type="number" placeholder="latitude" value="<%= lat %>" name="Blat"/>
        <input type="text" placeholder="author" value=<%= user.id %> name="Bauthor"/>
        <input type="submit" value="create locationblog"/>
    </form><%}%>
    <script>
        document.getElementById("coordinatesBtn").onclick = () => {
            navigator.geolocation.getCurrentPosition((successfully, error) => {
                if(error){
                    alert("error! have you turned gps on?");
                    return;
                }
                document.getElementById("lon").value = successfully.coords.longitude;
                document.getElementById("lat").value = successfully.coords.latitude;
            });
        };
    </script>
</body>

</html>